<h1>{{title}}</h1>

<form action="/shelf/create" method="POST">
  <label for="name">Regalname:</label>
  <input type="text" id="name" name="name" required>

  <label for="decription">Beschreibung:</label>
  <input type="text" id="description" name="description" required>

  <button type="submit">Erstellen</button>
</form>
